<table class="table-100">
	<tr>
		<td>
		<table class="table-100">
			<tr>				
				<td class="CSSpageTITLE left-align">{form_title}</td>
				<td class="CSSpageTITLE right-align">{form_right_column}</td>      
			</tr>
		</table></td>
	</tr>
	<tr>
		<td><img src="{framework_template_url}/images/line_light.gif" class="line-light-image" alt="light line"></td>
	</tr>
	<tr>
		<td>
		<form id="{form_id}" action="{form_action}" method="POST" onsubmit="{form_onsubmit}">
			<table class="table-100">
				<tr>
					<td class="left-blue-bar"><img src="{framework_template_url}/images/spacer.gif" class="line-light-image" alt="Application Divider"></td>
					<td class="vertical-top-align left-blue-bar-spacing">
					<table class="table-100">
						{form_fields}
					</table></td>
					<td id="server-response">
					
					</td>
				</tr>
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td class="left-blue-bar"><img src="{framework_template_url}/images/spacer.gif" class="line-light-image" alt="Application Divider"></td>
					<td class="left-blue-bar-spacing" colspan="2">
					<table class="table-100">
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td class="CSSpageTITLE">							
							<input type="submit" name="submit" value="Submit">
							</td>
						</tr>
					</table></td>
				</tr>
			</table>
		</form></td>
	</tr>

	<tr>
		<td>
		<table class="CSSfooter table-100">
			<tr>
				<td>
				<div><img src="{framework_template_url}/images/line_dark.gif" class="line-light-image" alt="Application Divider">
				</div></td>
			</tr>
		</table></td>
	</tr>
</table>
