<tr>
    <td class="content form-field-height {field_visibility_class}">{field_label}</td>
    <td class="{field_visibility_class}">&nbsp;</td>
</tr>
<tr>
    <td colspan="2" class="content">
    	<span class="contentNormal {field_visibility_class}">{field_html}</span>    	
    </td>
</tr>
<tr>
    <td colspan="2" class="content {field_visibility_class}">
    	<img src="{framework_template_url}/images/spacer.gif" class="line-light-image" alt="Application Divider" />    	
    </td>
</tr>
