<table class="table-100">
   <tr>
      <td>
         <table class="table-100">
            <tr>
               <td class="CSSpageTITLE left-align">
                  {list_page_title} {separator} {input_button}         
               </td>    
               <td class="CSSpageTITLE right-align">
                  {right_column}         
               </td>              
            </tr>
         </table>
      </td>
   </tr>
   <tr>
      <td><img src="{framework_template_url}/images/line_light.gif" class="line-light-image" alt="Application Divider" /></td>
   </tr>
   <tr>
      <td class="vertical-top-align">
         {table_data}
      </td>
   </tr>
   <tr>
      <td>
         &nbsp;
      </td>
   </tr>
   <tr>
      <td>
         <table class="CSSfooter table-100">
            <tr>
               <td><img src="{framework_template_url}/images/line_dark.gif" class="line-dark-image" alt="Footer Divider" /></td>
            </tr>
         </table>
      </td>
   </tr>
</table>
