<table id="ic-hadith-subscription" class="ic-hidden">
  <tr>
    <td>Keywords (Seperate with commas)</td>
    <td>Number of Hadith</td>
    <td>Hadith Order</td>
  </tr>
  <tr>
    <td>
      <input size="30" type="text" name="ic-hadith-subscription-keywords" id="ic-hadith-subscription-keywords" />
    </td>
    <td>
      {subscription_hadith_count}
    </td>
    <td>
      <select id="ic-hadith-subscription-hadith-order" name="ic-hadith-subscription-hadith-order">
        <option value='sequence'>Sequence</option>
        <option value='random'>Random</option>        
      </select>
    </td>
  </tr>
  <tr>
    <td>Times</td>
    <td>Email Addresses</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <input size="30" type="text" name="ic-hadith-subscription-times" id="ic-hadith-subscription-times"  placeholder="Enter UTC times. e.g 13:30, 12:00, 14:00" value="{subscription_times}"/>
    </td>
    <td>
      <input size="30" type="text" name="ic-hadith-subscription-email-addresses" id="ic-hadith-subscription-email-addresses" placeholder="Email addresses separated by commas"/>
    </td>
    <td>&nbsp;<input type="button" id="ic-hadith-subscription-subscribe" name="ic-hadith-subscription-subscribe" value="Subscribe"/> &nbsp;<input type="button" id="ic-hadith-subscription-unsubscribe" name="ic-hadith-subscription-unsubscribe" value="Unsubscribe"/></td>
  </tr>
</table>
