<table id="ic-holy-quran-layout" class="ic-hidden">
  <tr>
    <td>Layout</td>
  </tr>
  <tr>
    <td>
      <select id="ic-holy-quran-layout-select" name="ic-holy-quran-layout-select" onchange="if (document.getElementById('ic-holy-quran-layout-select').value!='current-option')holy_quran_navigator_object.FetchVerseData('current');">
        <option value='current-option'>Please Select</option>
        <option value="paragraph">Paragraph</option>
        <option value="double column">Double Column</option>
      </select>
    </td>   
  </tr>
</table>
